<!-- main app container -->
<div style="background-color:rgb(228, 96, 8);" class="jumbotron">
    <div align = "center">
          <img src="logo.png" alt="ioc_logo" >
    </div>
    <h2 align = "center">
            Statutory Clearance App
    </h2>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


    
<!-- credits -->
<div class="text-center">
    <p>
       Created in collaboration by SRPL SERPL & NRPL
    </p>
 </div>